* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f3a806;
}

header {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

main {
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e2ae3d;
}

.produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vh;
}

.produto {
  background-color: #ffae00;
  height: 40vh;
  width: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.image {
  height: 27vh;
  width: 16vw;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: cover;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 3vh;
}
